

.meals_containesr{
 position: absolute;
 width: 800px;
 top: 40%;
 left: 50%;
 transform: translate(-50%,-50%);
 width: 50vw;
 height: 70vh;
 display: none;


 
   
}
.scroll{
  height: 400px;
  overflow: scroll;
  overflow-x: hidden;
  background-color:#feecb5;
  padding: 10px 35px;
}

.top_heading{
  position: relative;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
 
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
}
.cross{
  position: absolute;
  top: 10%;
  right: 10%;
  cursor: pointer;
}
.cross>i{
font-size: 25px;
}
.cross>i:hover{
font-size: 20px;
opacity: 0.5;
}
.top_heading>h1{
font-weight: 400;
margin-top: 10px;

}

.top_heading>p{
font-weight: 400;
font-size: 18px;
color: green;
margin-left: 5px;
margin-top: -10px;


}

.nutri{
display: flex;
margin-top: 15px;

}
.nutri>div{
background-color: aqua;
margin: 0px 5px;
padding: 5px;
border-radius: 10px;
color: green;
font-size: 14px;
}

.meals_img{
  width: 100%;
 
  
  

}
.meals_img>img{
  width: 100%;
  border-radius: 10px;
  
}

.dish_special{
    padding: 30px;
  
    background-color: white;
    margin-top: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;

}
.dish_special>p{
   margin-top: 10px;
  
}

.ingredients{
    display: grid;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 20px;

}
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 20px;
}
.grid>div{
  text-align: center;
}
.grid>div>img{
  width: 100px;
  height: 100px;
}
.grid>div>p{
 font-weight: 500;
 color: gray;
 margin-top: -10px;
 font-size: 12px;
}

.ingrdents_deatials{
  padding: 0px 30px;
}
.ingrdents_deatials>h3{
 margin-bottom: 10px;
}
.ingrdents_deatials>p{
 margin-bottom: 20px;
}

